
<!DOCTYPE html>
<html lang="en ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css'%}" >
    <title>shotni4k</title>
</head>
<body>
    <div class="wraper">
        <header class="header">
            <div class="header__conteiner _conteiner">
                <a href="/index.html" class="header__logo">shotni4k</a>
                <div class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="/home/" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="/work" class="menu__link">Work</a>
                        </li>
                        <li class="menu__item">
                            <a href="/blog" class="menu__link">Blog</a>
                        </li>
                        <li class="menu__item">
                            <a href="/contact" class="menu__link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="page">
            <div class="page__main-block main-block">
                <div class="main__block-body _conteiner">
                    <p class="main_block__suptitle">dgsdffgsdf</p>
                    <h1 class="main_block__title">gdssdg</h1>
                    <p class="subtitle">fkljflfdkfgd</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>