.main__block{
    position: relative;
}

.main__block-body{
    display:flex;
    padding: 183px 0px 0px 0px;
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.main__block-body > *:not(:last-child){
    margin: 0px 0px 35px 0px;
}
